@use "../../styles/util/" as *;

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  padding: 0 0 rem(20);
  @include breakpoint(medium) {
    gap: rem(12);
    padding: 0 0 rem(30);
  }
  @include breakpoint(large) {
    width: 17.5vw;
  }
  h2,
  p {
    margin: 0 auto;
    text-align: center;
    @include breakpoint(large) {
      margin: 0;
      text-align: left;
    }
  }
  h2 {
    color: $dark-grey;
    font-size: rem(10);
    font-weight: 700;
    letter-spacing: rem(1.6);
    text-transform: uppercase;
  }
  p {
    color: $very-dark-grey;
    font-size: rem(18);
    font-weight: 500;
  }
}
