@use "../../styles/util/" as *;

.searchbarContainer {
  form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    @include breakpoint(large) {
      width: rem(450);
    }
    input {
      border: 0.5px solid $dark-grey;
      border-right: none;
      border-radius: $br 0 0 $br;
      color: $very-dark-grey;
      font-size: rem(15);
      height: rem(50);
      padding: rem(10) rem(22);
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: $very-dark-grey;
      border: none;
      border-radius: 0 $br $br 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50);
      &:hover {
        background-color: $very-dark-grey-hover;
      }
      img {
        width: rem(10);
      }
    }
  }
}
