@use "../../styles/util/" as *;

.header {
  background-image: url("../../assets/images/pattern-bg-mobile.png");
  background-size: cover;
  color: $white;
  height: 40vh;
  @include breakpoint(medium) {
    background-image: url("../../assets/images/pattern-bg-desktop.png");
  }
  @include breakpoint(large) {
    height: 30vh;
  }
  h1 {
    margin: 0;
    padding: rem(24) 0;
    text-align: center;
  }
}
