@use "../../styles/util/" as *;

.header {
  background-image: url("../../assets/images/pattern-bg-mobile.png");
  color: $white;
  height: 40vh;
  @include breakpoint(medium) {
    background-image: url("../../assets/images/pattern-bg-desktop.png");
  }
  h1 {
    font-weight: 500;
    font-size: rem(22);
    margin: 0;
    padding: rem(24) 0;
    text-align: center;
  }
}
